<div class="banner">
  <div class="container">
    <div class="banner-content">
      <h1><span id="banner-typed-text"></span></h1>
      <p>Le guide idéal pour profiter de la gastronomie en Provence</p>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <%= link_to "Envie de cuisiner ?", recipes_path, class: "btn btn-success btn-lg"%>
        </div>
        <div class="col-xs-12 col-md-6">
          <%= link_to "La flemme de cuisiner ?", restaurants_path, class: "btn btn-info btn-lg"%>
        </div>
      </div>
    </div>
  </div>
</div>
