// Specific CSS for your home-page
.icon-card {
  margin-top: 70px;
  margin-bottom: 50px;

}

.icon-card i {
  font-size: 40px;
  color: $green;
}

.icon-card h2 {
  color: $yellow;
}

.icon-card p:last-child {
  padding: 15px;
}

