.search {
  padding: 0% 5%;
}

.form {
  padding: 3% 1%;
  display: flex;
}

.results-container {
  display: flex;
  width: 90%;
  padding: 0px;
}


#map {
  width: 60%;
  height: 60vh;
  right: 0px;
}

.results {
    width : 60%;
    left: 0px;
}
