.search {
  margin-top: 5%;
}

.form {
  padding: 3% 0% ;
  display: flex;
}

.results-container {
  display: flex;
  width: 100%;
  padding: 0px;
  margin-top: 70px;
}

.restaurant-results {
  width : 50%;
  margin-left: 3%;
}

.fixed-part {
  width: 40%;
  margin-right: 3%;
  position: fixed;
  right:0;
}

#map {
  width: 100%;
  height: 75vh;
  right:0;
}


.restaurant-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr ;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr ;
  }
}

.restaurant-card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center !important;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.marker-card-category {
  background-size: cover;
  background-position: center;
  display: flex;
  height: 180px;
  width: 180px;
  justify-content: center !important;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
