// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

.container {
  margin-top: 70px;
}

a {
  color: $green;
  text-decoration: none;
}

a:hover {
  color: $green;
  opacity: 0.9;
}

h1 {
  font-size: 40px;
}

h2 {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  font-size: 22px;
}
