<% content_for :title, "Accueil" %>

<%= render 'components/banner' %>

<div class="container">
  <div class="row">

      <div class="col-xs-12 col-sm-4 icon-card text-center">
        <p><i class="fas fa-lemon"></i></p>
        <h2>Recettes</h2>
        <p>Retinete igitur in provincia diutius eum, qui de sociis cum hostibus, de civibus cum sociis faciat pactiones, qui hoc etiam se pluris esse quam collegam putet.</p>
      </div>

      <div class="col-xs-12 col-sm-4 icon-card text-center">
        <p><i class="fas fa-utensils"></i></p>
        <h2>Restaurants</h2>
        <p>Retinete igitur in provincia diutius eum, qui de sociis cum hostibus, de civibus cum sociis faciat pactiones, qui hoc etiam se pluris esse quam collegam putet.</p>
      </div>

      <div class="col-xs-12 col-sm-4 icon-card text-center">
        <p><i class="fas fa-map-pin"></i></p>
        <h2>Provence</h2>
        <p>Retinete igitur in provincia diutius eum, qui de sociis cum hostibus, de civibus cum sociis faciat pactiones, qui hoc etiam se pluris esse quam collegam putet.</p>
      </div>
  </div>
</div>
