.banner {
  color: white;
  text-align: center;
  height: calc(100vh);
  display: flex;
  justify-content: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.2) 50%), asset-url('home.jpg');
  background-position: top;
  background-size: cover;
}

.banner h1 {
  font-size: 50px;
  margin-top: 15vh;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

.banner p {
  font-size: 28px;
  font-weight: lighter;
  color: white;
  opacity: 0.9;
  margin-top: 10px;
}

.banner p + div{
  margin: 8vh auto;
  width: 90%;
}

.banner .btn {
  margin: 10px 0;
  padding: 16px 0;
  width: 90%;
  font-size: 22px;
  font-weight: bolder;
}

@media screen and (max-width: 970px) {

  .banner h1 {
    margin-top: 10vh;
    font-size: 40px;
    height: 100px;
  }

  .banner p {
    font-size: 24px;
  }

  .banner .btn {
    width: 100%;
    font-size: 18px;
  }

}
