.banner {
  color: white;
  text-align: center;
  height: calc(100vh);
  display: flex;
  justify-content: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.2) 50%), asset-url('home.jpg');
  background-position: top;
  background-size: cover;
}

.banner h1 {
  font-size: 50px;
  margin-top: 150px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

.banner p {
  font-size: 28px;
  font-weight: lighter;
  color: white;
  opacity: 0.9;
  margin-top: 10px;
}

.banner .btn {
  margin: 80px 10px 10px 10px;
  justify-content: center;
  width: 100%;
  font-size: 22px;
}

.banner .btn:hover {
  color: white;
}

.banner-content div {
  display: flex;
  justify-content: center;
}
