.mapboxgl-popup {
  max-width: 200px;
  max-height: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-weight: bold;
  background: rgba(250,250,250, 0.8) !important;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-top-color: rgba(250,250,250, 0.8) !important;
  border-bottom-color: rgba(250,250,250, 0.8) !important;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: rgba(250,250,250, 0.8) !important;
  border-bottom-color: rgba(250,250,250, 0.8) !important;
}
