<h3>Ajouter un commentaire</h3>
<%= simple_form_for [@restaurant, @restaurant_review] do |f| %>
  <%= f.input :rating, collection: 0..5, label: "Note" %>
  <%= f.input :content, label: "Remarque" %>
  <%= f.submit "Ajouter un commentaire", class: "btn btn-success btn-lg" %>
<% end %>
